body{
    font-family:arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333
}
main{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 16px;
}
/* Classe .card serve de base para todos os cards,
 definido o estilo geral e a aparência */
.card{
    background-color: #fff;
    border: 2px solid #91b6bb;
    border-radius: 10px;
    padding: 14px 16px;
    margin-bottom: 12px;
}
.destaque{
    border-color:#267dc4;
    background-color:#fffff4;
}
.indisponivel{
    opacity: 0.5;
}
.indisponivel h4{
    text-decoration: line-through;
}

#mais-popular{
    background-color: #3371cf;
    color: #fff;
    border-color:none;
    text-align: center;
}